@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: #7fb6d2; /*   #282e31; */
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
  max-width: 320px;
  margin: 0 auto;
}

p.logo-text {
  font-family: 'Nerko One', cursive;
}
